.user
.suo
.vs
/bin
/obj
/Microsoft.PWABuilder.Oculus/bin
/Microsoft.PWABuilder.Oculus/obj
/Microsoft.PWABuilder.Oculus/Resources/cli/output
/Microsoft.PWABuilder.Oculus/Resources/cli/output.apk
/Microsoft.PWABuilder.Oculus/Resources/cli/output.zip
/Microsoft.PWABuilder.Oculus/Resources/cli/output.apk.idsig
/Microsoft.PWABuilder.Oculus/Resources/sdk
/Microsoft.PWABuilder.Oculus/output.apk
/Microsoft.PWABuilder.Oculus/output.apk.idsig
/Microsoft.PWABuilder.Oculus/Properties/serviceDependencies.local.json.user
/Microsoft.PWABuilder.Oculus/Microsoft.PWABuilder.Oculus.csproj.user
